@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,200&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

:root {
    --primary1: #003cff;
    --primary2: #a9ff59;

}

body {
    background: white;
    color: white !important;
    overflow-x: hidden;
}

header {
    height: 70px;
    position: fixed;
    box-shadow: 0 0 5px gray;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10;
    margin-bottom: 120px;
}

header .container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.imgd {
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    display: flex;
    margin-left: 50px;
}

.imgd h1 {
    font-size: 22px;
    color: blue;
    font-family: ;
}

.nav-toggler {
    color: blue;
    display: none;
}

.uld {
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 20px;
}

ul {
    display: flex;
    gap: 2rem;


}

ul li a {
    color: black;
    font-weight: bolder;
    margin-right: 50px;
    font-size: 20px;
}

ul li a:hover {
    color: white;
    background: blue;
    width: 120%;
    border-radius: .2ch;

}



@media screen and (max-width:1170px) {
    .imgd {
        width: 100%;
    }

    .nav-toggler {
        display: block;
        /* position: fixed; */
        /* right: 2%; */
        /* top: 3%; */
        cursor: pointer;
        z-index: 1;
    }

    .toggleNav {
        transform: translateY(375px);
    }

    ul {
        position: fixed;
        top: -300px;
        right: 0%;
        width: 150px;
        transition: all .5s ease-in;
        background: white;
        padding: 5px 20px;
        text-align: center;
        flex-direction: column;
        z-index: 1;
        gap: 2rem;
        text-align: center;
        height: 280px;
        box-shadow: 2px 2px blue;
    }

    ul li {
        text-align: center;

    }

    ul li a {
        font-size: 17px;
    }





    ul li:first-of-type {
        margin-top: 20px;
    }
}

#home {
    background: black;
    width: 100%;
    margin-top: 3%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
}

#home div {
    height: 83%;
    position: relative;
    display: block;
    margin: auto;

}

#home div:first-child {
    padding-top: 2%;
    width: 45%;
    height: 100%;

}




#home div:nth-child(2) {
    width: 40%;
    margin-top: 120px;
    padding-left: 50px;
    position: relative;
    text-align: justify;
}

#home div:nth-child(2) h1,
h2,
h4 {
    line-height: 2em;
    letter-spacing: .1rem;
}

#hform {
    display: flex;
    background: white;
    height: 35px;
    width: 300px;
    width: 50%;
    border-radius: 2ch;
    margin-left: 0;
    text-align: left;
    margin-top: 50px;
    justify-content: flex-end;
    position: relative;
}

#hform input {
    border-radius: 1ch;
    height: 30px;
    margin: auto;
    border: none;
    border-radius: 3ch;
    width: fit-content;
    outline: none !important;
}

#hform input[type="submit"] {
    background: blue;
    cursor: pointer;
    width: 120px;
    color: white;
    font-weight: bold;
}

#home div:nth-child(2) span {
    color: blue;
    line-height: 1.5em;
    font-size: 40px;
    font-weight: bolder;
}

#home div:nth-child(2) h2 {
    font-size: 40px;
}



#home div:last-child {
    width: 5%;
    padding-top: 100px;
}

.icons {
    display: grid;
    color: #003cff;
    margin-top: 40px;
    cursor: pointer;
}

.icons:hover {
    color: white;
}

@media screen and (max-width:1300px) {
    #home {
        padding-top: 5%;
    }

    #home .wic {
        display: none;
    }

    #home div:first-child {
        width: 50%;
        height: 90%;
    }

    #home div:nth-child(2) {
        width: 40%;
    }

}

@media screen and (max-width:800px) {
    .btn {
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media screen and (max-width:768px) {
    #home {
        flex-direction: column;
        margin-top: 10%;
        padding-top: 5%;

    }

    #home div:first-child {
        width: 100%;
        padding-bottom: 30px;
    }

    #home div:nth-child(2) {
        margin-top: -50px;
        width: 100%;
        height: 50%;
        padding: 50px;
    }


}

@media screen and (max-width:500px) {

    #hform {
        width: 250px;
    }

    #home div:nth-child(2) h2,
    #home div:nth-child(2) span {
        font-size: 30px;
    }



}


nav {
    width: 100%;
    margin-top: 5%;
    background: white;
    padding-top: 10%;


}

nav h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    color: black;
}

nav .container {
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    padding-bottom: 30px;
}

nav .container div {
    width: 33%;
    height: 55%;
    box-shadow: 10px 10px blue;
    margin-right: 20px;
    border-radius: .5ch;
    background: white 5px;
    color: black;
    font-size: 17px;
    line-height: 2em;
    padding-bottom: 2%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 2%;

    text-align: justify;


    position: relative;
}

nav .container div img {
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 20%;
}

nav p {
    padding: 0 5%;
}


@media screen and (max-width:950px) {
    nav h1 {
        margin-bottom: 0px;
    }


    nav .container {
        flex-direction: column;

    }

    nav .container div {
        width: 50%;
        margin: auto;
        margin-top: 40px;
        height: 60%;
        position: relative;
    }

}

@media screen and (max-width:600px) {


    nav .container div {
        width: 70%;

    }
}


.foot {
    width: 100%;
    margin-top: 10%;
    padding-bottom: 50px;
    margin-bottom: 5%;
    background: white;

}

.foot h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    color: black;
}

.foot h2 {
    text-align: center;
    color: black;
}

.foot h5 {
    color: black;
    font-size: 16px;
    line-height: 2em;
    text-align: justify;
}


.foot .contain {
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    padding-bottom: 30px;
}

.foot .contain div {
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 2%;
    border-radius: 1ch;
    width: 40%;
    /* height: 250px; */
    box-shadow: 8px 8px blue;
    position: relative;
    margin-right: 20px;
}

.foot .contain div img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    margin: auto;


}

@media screen and (max-width:950px) {
    .foot {
        margin-top: 10%;
    }

    .foot .contain {
        flex-direction: column;

    }

    .foot h1 {
        margin-bottom: 50px;
    }

    .foot .contain div {
        width: 70%;
        margin: auto;
        margin-top: 30px;
        /* height: 100%; */
        position: relative;
        padding: 3%;
    }


}





footer {
    color: white;
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    position: relative;
    background: black;
    position: relative;
    font-size: 24px;
    padding-top: 30px;
}

footer .loc {
    color: white;
    margin-right: 10px;
}

footer div {
    padding: 20px 20px;
    width: 33%;
    margin: auto;
    height: 150px;
    border-top: none;
    border-left: none;
    border-bottom: none;
    margin-right: 20px;
    position: relative;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

footer .head {
    margin-bottom: 40px;
}

footer img {
    margin-right: 2px;
    border-radius: 1ch;
    height: 60px;
    width: 60px;
}

footer div h5 {
    text-align: center;
    font-size: large;
    font-weight: bold;

}

footer .ne {
    cursor: pointer;
    color: blue;
    margin-right: 10px;
}

footer .ne:hover {
    color: white;
}

@media screen and (max-width:768px) {
    footer {
        flex-direction: column;
        margin-top: 20px;
    }

    footer div:first-child {
        width: 60%;
        margin: auto;

    }

    footer div:nth-child(2) {
        width: 60%;
        margin: auto;

    }

    footer div:last-child {
        width: 60%;
        margin: auto;
        height: 150px;

    }

    footer .icon {
        display: flex;
        margin-left: 15px;
        margin-top: -500px;
        justify-content: space-between;
    }

}

#about {
    width: 100%;
    margin-top: 10%;
    background: black;
    color: white !important;

}

#about .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
    padding-left: 3%;
}

#about .container div:first-child {
    width: 40%;
    margin-left: 5%;
    margin: auto;
}



#about .container>div:last-child {
    width: 45%;
    margin-top: 10px;
    text-align: justify;
    padding: 20px 50px;
    margin-left: 100px;
    border-radius: 1ch;
    position: relative;
}

#about .container h1 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.details {
    font-size: 20px;
    line-height: 2em;
}

.details span {
    font-size: 40px;
    color: white;
}

.details .con {
    text-align: center !important;
    font-size: 35px;
    margin-top: 30px;
}

.icon {
    display: flex;
    justify-content: space-between;
}

.icons {
    position: relative;

}


@media screen and (max-width:1500px) {
    #about .container {
        padding-left: 2%;
    }


}

@media screen and (max-width:1350px) {
    #about .container {
        padding-left: 1%;
    }

    #about .container div:first-child {
        width: 35%;
    }
}

@media screen and (max-width:1200px) {
    #about .container div:first-child {
        width: 70%;
        margin-top: 10%;
    }

    .fp {
        padding-left: 20px;


    }

    #about .container div:last-child {
        width: 90%;
        margin-left: 0;
        height: auto;
        padding: 30px 30px;
    }

    .icon .icons {
        margin-right: 80px;


    }

    .icon .icons:hover {
        color: white;
    }

}

@media screen and (max-width:768px) {
    #about .container div:last-child {
        padding: 10px 10px;
    }

    .detb {
        margin-top: 25px;
    }

    .icon .icons {
        margin-right: 10px;
    }
}

@media screen and (max-width:414px) {


    .detb,
    .deta {
        font-size: 12px;
    }


}

#contacts {
    background: white;
    padding-bottom: 2%;
}

#contact {
    margin-top: 2%;
    display: block;
    width: 60%;
    margin-left: 10%;
    padding: 10% 5%;
    color: black;
    position: relative;

}

#contact h1 {
    color: black;
    font-size: 35px;
    margin-bottom: 10px;
}

#contact p {
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}

#contact input {
    width: 24%;
    margin-right: 80px;
    margin-top: 20px;
    height: 45px;
    border-radius: 0.5ch;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    outline: none !important;
}

textarea {
    margin-top: 40px;
    border-radius: .5ch;
    box-shadow: 0 0 5px gray;
    height: 200px;
    width: 60%;
}

button {
    display: block;
    margin-top: 10px;
    margin-left: 52.5%;
    background: #a9ff59;
    border: 1px solid #a9ff59;
    width: 70px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: .5ch;

}

.or {
    margin-left: 6ch;
}

span {
    color: black;
    margin-left: 10px;
    cursor: pointer;
}

.phone {
    color: black;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #contacts {
        padding-top: 30px;
        padding-bottom: 0%;

    }

    #contact input {
        width: 60%;
        height: 40px;
    }


}

@media screen and (max-width:700px) {

    #contact input {
        width: 100%;
        height: 40px;
    }

    textarea {
        width: 100%;
        height: 180px;
    }

    button {
        float: right;
    }

    .phone:first-of-type {
        margin-top: 50px;
    }

}